:root {
  --main-font: 'IBM Plex mono', monospace;
  --main-color: #db00ff;
  --first-color: #ff0070;
  --second-color: #000028;
  --text-color: #f1b2ce;
  --bg-color: #ff0070;
  --sh-color: #ff0070;
  --hover-border-color: rgb(255, 0, 112, 0.4);
  --rec: visible;
  --bg-image: url(../images/cover-image-dark.png);
}

/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
